//
//  Development.xcconfig
//  Tasks
//
//  Created by Javier Fuchs on 5/11/13.
//  Copyright (c) 2013 Hungry And Foolish. All rights reserved.
//

#include "Common.xcconfig"

GCC_OPTIMIZATION_LEVEL=0
ONLY_ACTIVE_ARCH=YES

COPY_PHASE_STRIP = NO
ALWAYS_SEARCH_USER_PATHS = NO
GCC_ENABLE_FIX_AND_CONTINUE = YES
GCC_DYNAMIC_NO_PIC = NO
GCC_MODEL_TUNING = G5
GCC_OPTIMIZATION_LEVEL = 0
GCC_PRECOMPILE_PREFIX_HEADER = YES
